@import url("https://fonts.googleapis.com/css2?family=Sahitya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sahitya:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

@theme {
  --color-tsu-pink-100: #f695ae;
  --color-tsu-pink-200: #da5477;
  --color-tsu-orange-100: #ffbc49;
  --color-tsu-orange-200: #f6a623;
  --color-tsu-yellow-100: #ffdd54;
  --color-tsu-green-100: #7de180;
  --color-tsu-green-200: #b0caac;
  --color-tsu-green-300: #8aba83;
  --color-tsu-green-400: #3c6c35;
  --color-tsu-blue-100: #6daee8;
  --color-tsu-beige-100: #f1eee1;
  --color-tsu-beige-200: #ffe7d6;
  --color-tsu-beige-300: #fff4ec;
  --color-tsu-brown-100: #d09f8e;
  --color-tsu-brown-300: #8b4e39;
  --color-tsu-brown-400: #784736;
  --color-tsu-gray-100: #444444;

  --font-tsu-sahitya: "Sahitya", serif;
  --font-tsu-sora: "Sora", serif;
}
